*{
    margin: 0 auto;
    box-sizing: border-box;
}


.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px;
    
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
